.game{
    width:350px;height: 350px;
    margin: auto;
    margin-top: 170px;
    font-family: 'Itim', cursive;
    font-weight: 600;
    text-align: center;
    color: black;
}

.header{padding: 5px ;
margin: 5px 0;
background: #b027ff;
}

span{color: blue;}

.box{width: 100px;
height: 100px;
padding-left: 12.5px;
background-color: #b027ff;
float: left;
justify-content: center;
display: flex;
margin: 2px;
font-size: 70px;}

.box:hover{background: black;
cursor: pointer;}
body{background-color: indigo;}

/* mobile responsive vertical */
@media screen and (max-width: 320px) {
    .game{
        width: 260px;height: 260px;
        margin-top: 140px;
    }
    .box{width: 75px;
        height: 75px;
        padding-left: 7.5px;
        font-size: 50px;}
  }
/* mobile responsive horizontal */
@media screen and (max-height: 320px) {
    .game{
        width: 260px;height: 260px;
        margin-top: 32px;
    }
    .box{width: 75px;
        height: 75px;
        padding-left: 7.5px;
        font-size: 50px;}
  }